p{
    font-size:18px;
    line-height:30px;
}
/* Hide scrollbar for webkit browsers */
.table-responsive::-webkit-scrollbar {
    display: none;
  }
  .table-responsive {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer and Edge */
  }
  
  /* Optional: Prevent horizontal overflow in the container */
  .container-fluid {
    overflow-x: hidden;
  }
  /* Style for the dropdown to match the background */
.form-select {
    border: none;
    background-color: transparent;
    color: inherit; /* Match the text color with the surrounding content */
    font-size: inherit; /* Ensure the font size matches the surrounding text */
    box-shadow: none; /* Remove any box shadow */
    outline: none; 
    padding: 1;
    cursor: pointer;
  }
  
  .form-select:focus {
    outline: none; /* Prevent any focus outline from showing */
    box-shadow: none; /* Ensure no focus shadow appears */
  }
  .input-small {
    width: 80px; /* Smaller size for "No." and similar inputs */
  }
  
  .input-medium {
    width: 200px; /* Slightly larger size for other inputs */
  }
  
  .form-control {
    height: 38px; /* Ensure consistent height across inputs */
  }
  input{
    box-shadow: none !important; /* Remove shadow */
    border: 1px solid #ced4da;   /* Optional: Consistent border */
    outline: none;
  }