<div class="container">
  <div class="row pt-4 mb-4">
    <div class="card card-main">
      <div class="card-body">
        <div class="row mb-2">
          <div class="col-11">
            <div class="title text-center mb-4">END DIMENSION REPORT OF </div>
            <div class="row d-flex align-items-center mb-3">
              <div class="col-2">
                <div class="sub-title">End Store :</div>
              </div>
              <div class="col-10">
                <div class="sub-title-color">{{ endStore }}</div>
              </div>
            </div>
            <div class="row d-flex justify-content-center align-items-center">
              <div class="col-2">
                <div class="sub-title">Component :</div>
              </div>
              <div class="col-10">
                <app-select [options]="components" [displayField]="'name'" [valueField]="'value'" [(ngModel)]="selectedComponent"></app-select>
              </div>
            </div>
          </div>
          <div class="col-1 text-center">
            <button mat-icon-button color="primary"(click)="redirectToDisplay()">
              <mat-icon>description</mat-icon>
            </button>
            <button mat-icon-button color="warn"(click)="logout()">
              <mat-icon>logout</mat-icon>
            </button>
          </div>
        </div>
        <hr>
        <div class="row mb-2">
          <div class="col-12 d-flex justify-content-between align-items-center">
            <div class="small-title">Generate Report</div>
            <button mat-icon-button class="custom-button" color="primary" (click)="addRow()">
              <mat-icon>add</mat-icon>
            </button>
          </div>
          <div class="table-responsive p-2" style="max-height: 70vh; overflow-y: auto; overflow-x: auto;">
            <table class="table table-borderless text-nowrap">
              <thead>
                <tr>
                  <th>Sr. No.</th>
                  <th>Gauge</th>
                  <th>Characteristic</th>
                  <th>OFDC Gauge No.</th>
                  <th>Actual No.</th>
                  <th>Remark</th>
                  <th>Other Remark</th>
                  <th class="d-print-none"></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of reportData.characteristics; let i = index">
                  <td><input type="text" class="form-control" [(ngModel)]="row.srNo" [value]="i + 1" readonly /></td>
                  <td>
                    <select class="form-control" [(ngModel)]="row.gauge" (change)="onGaugeChange(row)">
                      <option *ngFor="let gauge of gauges" [value]="gauge.value">{{ gauge.name }}</option>
                    </select>
                  </td>
                  <td>
                    <select class="form-control" [(ngModel)]="row.characteristic">
                      <option *ngFor="let char of row.availableCharacteristics" [value]="char.value">{{ char.name }}</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" [(ngModel)]="row.ofdcGaugeNo" readonly /></td>
                  <td><input type="text" class="form-control" [(ngModel)]="row.actualNo" readonly /></td>
                  <td>
                    <select class="form-control" [(ngModel)]="row.remark">
                      <option value="Satisfactory">Satisfactory</option>
                      <option value="Unsatisfactory">Unsatisfactory</option>
                    </select>
                  </td>
                  <td><input type="text" class="form-control" [(ngModel)]="row.otherRemark" /></td>
                  <td class="d-flex align-items-center">
                    <button (click)="toggleCounter(i)" mat-icon-button class="custom-button" color="primary">
                      <mat-icon>{{ row.isStopped ? 'play_arrow' : 'pause' }}</mat-icon>
                    </button>
                    <button (click)="deleteRow(i)" mat-icon-button class="custom-button" color="warn">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <button mat-raised-button class="submit-button" (click)="submit()">Submit</button>
          </div>
        </div>        
      </div>
    </div>
  </div>
</div>
